@media (max-width: 700px){
	header{
		width: 127%;
	}
	.menu{
		flex-direction: column;
		margin: 2%;
	}
	.container{
		margin-left: 10%;
		width: 100%;
	}
	.carousel{
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}

	.d-block{
		height: 20vh;
	}
	.lorem{
		margin-right: 0px;
	}
	footer{
		width: 127%;
	}
	.formulario {
		left: 10%;
	}
	.contenedor_mensaje{
		left: 15%;
	}
	.typed{
		font-size: 20px;
	}
}